# Ejemplo de archivo .env para el backend

# Configuración de la base de datos
DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres

# Configuración de JWT
JWT_SECRET_KEY=your_secret_key
JWT_EXPIRATION_HOURS=6

# Configuración de la aplicación
APP_ENV=development

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres